@model IEnumerable<lojaHemilly.Models.Parcela>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cliente = ViewData["cliente"] as Cliente;
    var venda = ViewData["venda"] as Venda;
    var dtAtual = DateTime.Now.Date;
    double diasVencido = 0;
}


<h1>Parcelas, Cliente: @cliente.Nome </h1>
<h4>Data Venda: @venda.DataDaVenda.ToShortDateString()</h4>
<h4>Protocolo venda: @venda.Id </h4>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Parcelas
                <small>Listagem</small>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroParcela)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataVencimento)
                    </th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    diasVencido = 0;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroParcela)
                        </td>
                        <td>
                            R$ @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            <p>
                                @item.DataVencimento.ToShortDateString()
                                @if (item.DataVencimento < dtAtual)
                                {
                                    diasVencido = dtAtual.Date.Subtract(item.DataVencimento.Date).TotalDays;
                                    <span>&nbsp;&nbsp;</span>
                                    <span class="label label-xl label-dot label-danger"></span> <span style="font-weight:bold">@diasVencido dias</span>
                                }
                            </p>
                        </td>
                        <td>
                            <a href="javascript:AbrirModalParcela(@item.NumeroParcela, @diasVencido,'@Math.Round(item.Valor,2)');"><span class="label label-success label-inline mr-2" style="color:black; font-weight:bold">Receber</span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@* MODAL *@
<div class="modal fade" id="modal_parcela" data-backdrop="static" tabindex="-1" backs role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Parcela</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>% de juros atraso</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="ValorJuros" value="0,20" onkeyup="FormatarMoeda(this);">
                                </div>
                                <span class="form-text text-muted">% de juros atraso por dia </span>
                            </div>
                            <div class="col-lg-4">
                                <label>Valor parcela:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="ValorParcela" disabled="disabled" value="0,00" onkeyup="FormatarMoeda(this);">
                                </div>
                                <span class="form-text text-muted">Entrada para abater nas parcelas</span>
                            </div>
                            <div class="col-lg-4">
                                <label>Valor parcela corrigido:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="ValorCorrigido" value="0,00" disabled="disabled" onkeyup="FormatarMoeda(this);">
                                </div>
                                <span class="form-text text-muted">Entrada para abater nas parcelas</span>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col-lg-4">
                                <label class="control-label"> Data pagamento: </label>
                                <input type="date" value="1" class="form-control" id="DataPagamento" >
                            </div>

                            <div class="col-lg-4">
                                <label class="control-label"> Valor pagamento cliente: </label>
                                <input type="text" value="0,00" class="form-control" id="ValorPagamento" onkeyup="FormatarMoeda(this);">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="text-align:center" id="h4TotalCompra"> </h4>
                            </div>
                        </div>

                        <div class="form-group row" id="divTableParcelas" style="display:none">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nº Parcela</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyParcelas">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <script src="/Views/Parcelas/Js/Index.js"></script>
    }
}